{% extends 'classroomapp/base.html' %} 
{% block content %} 
<div class="col-md-6 m-auto">
    <ul class="list-group">
        <a href="/classroom/class_preview" class="list-group-item list-group-item-action">Classroom Preview</a>
        <a href="/classroom/teacher_search" class="list-group-item list-group-item-action">Get student List attending Teacher's Class</a>
        <a href="/classroom/teacher_search_by_salary" class="list-group-item list-group-item-action">Teacher Aggreation</a>
        <a href="#" class="list-group-item list-group-item-action">Get Total</a>
    </ul>
</div>
{% endblock %}
