<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if page == 'preview' %}active{%endif%}" href="/classroom/class_preview">Classroom Preview</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link {% if page == 'teacher_search' %}active{%endif%}" href="/classroom/teacher_search" >Get Student List Under teacher</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>